.App {
  text-align: center;
}

.info-box{
  background-color: rgb(5, 69, 126);
  border-radius: 15px;
}

.photo-circle{
  width: 30%;
  height: 3%;
  border-radius: 50%;
  background-color: aliceblue;
  
}